# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py

# Envs / secrets
.env
.env.*

# Databases
*.sqlite3

# Static/media build artifacts
staticfiles/
media/

# OS/editor
.DS_Store
.vscode/
.idea/
