{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Lista de Campos</h1>

        <div class="card-header">
            <span>Campo</span>
            <span>Desporto</span>
            <span>Preço</span>
            <span></span>
        </div>

        <div class="card">
            <span>Campo A</span>
            <span>Futebol</span>
            <span>40€/hora</span>
            <button class="btn btn-green">Reservar</button>
        </div>
    </div>
</div>
{% endblock %}
