{% extends "base.html" %}

{% block content %}
<div class="content">
    <h1>Lista de Campos</h1>

    <div class="card-header">
        <span>Campo</span>
        <span>Desporto</span>
        <span>Preço</span>
        <span></span>
    </div>

    {% for campo in campos %}
    <div class="card">
        <span>{{ campo.nome }}</span>
        <span>{{ campo.desporto }}</span>
        <span>{{ campo.preco }}€/hora</span>

        <a href="{% url 'campos:reservar' campo.id %}" class="btn btn-green">
            Reservar
        </a>
    </div>
    {% endfor %}
</div>
{% endblock %}
