{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="content">
    <h1>Reservar</h1>

    <div class="reserva-card">
        <h2>{{ object.nome }}</h2>

        <div class="reserva-body">
            <!-- Imagem -->
            <div class="campo-imagem">
                <span>Foto do Campo</span>
            </div>

            <!-- Info -->
            <div class="reserva-info">
                <div class="info-top">
                    <span>Desporto: {{ object.desporto }}</span>
                    <span>Preço: {{ object.preco }}€ / hora</span>
                </div>

                <!-- Calendário -->
                <label>Data</label>
                <input type="text" id="data" class="input" placeholder="0000-00-00">

                <!-- Horário -->
                <label>Hora</label>
                <input type="time" id="hora" class="input" value="14:00">

                <button class="btn btn-green">Reservar</button>
            </div>
        </div>
    </div>
</div>

<script>
    flatpickr("#data", {
        dateFormat: "Y-m-d",
        minDate: "today",
        locale: "pt"
    });
</script>
{% endblock %}
