<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>PlayZone</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>

<div class="layout">

    <!-- SIDEBAR GLOBAL -->
    {% include 'partials/sidebar_user.html' %}

    <!-- CONTEÚDO DINÂMICO -->
    {% block content %}{% endblock %}
</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>


</body>
</html>
