<aside class="sidebar">
  <div>
    <h2>PLAYZONE</h2>

    <nav>
      <ul>
        <li>
          <a href="{% url 'campos:admin_dashboard' %}">DashBoard</a>
        </li>
        <li>
          <a href="{% url 'campos:admin_campos_list' %}">Customs</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="user-area">
    <div class="user-circle">{{ request.user.username|first|upper }}</div>
    <div>
      <div>Hello, Admin!</div>
      <a href="{% url 'userauth:logout' %}">Sair</a>
    </div>
  </div>
</aside>
