<aside class="sidebar">
  <div>
    <h2>PLAYZONE</h2>

    <nav>
      <ul>
        <li>
          <a href="{% url 'campos:campos_list' %}">Lista de Campos</a>
        </li>
        <li>
          <a href="{% url 'campos:minhas_reservas' %}">Minhas Reservas</a>
        </li>
        <li>
          <a href="{% url 'campos:historico' %}">Histórico</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="user-area">
    <div class="user-circle">{{ request.user.username|first|upper }}</div>
    <div>
      <div>Hello, {{ request.user.username }}!</div>
      <a href="{% url 'userauth:logout' %}">Sair</a>
    </div>
  </div>
</aside>
