{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Senha | PlayZone</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<div class="login-layout">

    
    <div class="login-left">
        <h2 class="login-brand">PLAYZONE</h2>

        <h1 class="login-title">RECUPERAR SENHA</h1>

        <form method="post" class="login-form">
            {% csrf_token %}

            <input
                type="email"
                name="email"
                placeholder="Email"
                required
            >

            <div class="login-actions">
                <button type="submit" class="btn btn-dark">
                    RECUPERAR SENHA
                </button>
            </div>
        </form>
    </div>

    
    <div class="login-right"></div>

</div>

</body>
</html>
