{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Senha alterada | PlayZone</title>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>

<div class="login-layout">

    <div class="login-left">

        <h2 class="login-brand">PLAYZONE</h2>
        <h1 class="login-title">Senha alterada</h1>

        <p style="color:#555;">
            A tua senha foi alterada com sucesso.
            Já podes iniciar sessão.
        </p>

        <div class="login-actions" style="margin-top: 30px;">
            <a href="{% url 'userauth:login' %}" class="btn btn-dark">
                Login
            </a>
        </div>

    </div>

    <div class="login-right"></div>

</div>

</body>
</html>
