{% extends "base_public.html" %}
{% block title %}Recuperar senha | PlayZone{% endblock %}

{% block content %}
<div class="auth-topbar">RECUPERAR SENHA</div>

<div class="auth-split">
  <div class="auth-left">
    <div class="auth-brand">PLAYZONE</div>
    <div class="auth-title">Recuperar senha</div>

    <form method="post">
      {% csrf_token %}

      {% if form.non_field_errors %}
        <div style="margin-bottom:12px;">
          {{ form.non_field_errors }}
        </div>
      {% endif %}

      <div style="margin-bottom:16px;">
        {{ form.email }}
        {% if form.email.errors %}
          <div style="margin-top:6px;">
            {{ form.email.errors }}
          </div>
        {% endif %}
      </div>

      <div class="auth-actions">
        <button class="btn-auth-dark" type="submit">Enviar</button>
        <a class="btn-auth-light" href="{% url 'userauth:login' %}">Voltar</a>
      </div>
    </form>
  </div>

  <div class="auth-right"></div>
</div>
{% endblock %}
