{% extends "base.html" %}

{% block content %}
<div class="content">

    <h1>Perfil</h1>

    <div class="profile-card">

        <div class="profile-avatar">
            {{ user.username|first|upper }}
        </div>

        <div class="profile-details">
            <p class="profile-name">
                <strong>Nome:</strong> {{ user.username }}
            </p>

            <p class="profile-email">
                <strong>Email:</strong> {{ user.email }}
            </p>
        </div>

        <div class="profile-actions">
            {% if user.is_staff %}
            <a class="btn btn-primary" href="{% url 'campos:admin_dashboard' %}">Ir para Admin Dashboard</a>
            <a class="btn btn-outline-secondary" href="{% url 'campos:campos_list' %}">Página Inicial</a>
            {% endif %}
            <form method="post" action="{% url 'userauth:logout' %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark">Logout</button>
            </form>

        </div>

    </div>

</div>
{% endblock %}
