{% load static %}
<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Registo | PlayZone</title>

    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>
<body>

<div class="login-layout">

    <!-- LADO ESQUERDO -->
    <div class="login-left">

        <h2 class="login-brand">PLAYZONE</h2>
        <h1 class="login-title">Create your account</h1>

        <form method="post" class="login-form">
            {% csrf_token %}

            {{ form.non_field_errors }}

            <input type="text"
                   name="username"
                   placeholder="Username"
                   required>

            <input type="email"
                   name="email"
                   placeholder="Email"
                   required>

            <input type="password"
                   name="password1"
                   placeholder="Password"
                   required>

            <input type="password"
                   name="password2"
                   placeholder="Confirm Password"
                   required>

            <div class="login-actions">
                <button type="submit" class="btn btn-dark">
                    Registar
                </button>
            </div>
        </form>

    </div>

    <!-- LADO DIREITO -->
    <div class="login-right">
        <a href="{% url 'userauth:login' %}" class="recover-btn">
            JÁ TENHO CONTA
        </a>
    </div>

</div>

</body>
</html>
