{% extends "base_public.html" %}
{% block title %}Registo | PlayZone{% endblock %}

{% block content %}
<div class="auth-split">
  <div class="auth-left">
    <div class="auth-card">
      <div class="auth-brand">PLAYZONE</div>
      <div class="auth-title">REGISTO</div>

      <form method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}<div class="alert alert-danger">{{ form.non_field_errors }}</div>{% endif %}

        <div class="mb-3">
          <label class="form-label">Nome</label>
          {{ form.username }}
        </div>

        <div class="mb-3">
          <label class="form-label">Email</label>
          {{ form.email }}
        </div>

        <div class="mb-3">
          <label class="form-label">Password</label>
          {{ form.password1 }}
        </div>

        <div class="mb-3">
          <label class="form-label">Confirm Password</label>
          {{ form.password2 }}
        </div>

        <button class="btn btn-primary w-100">REGISTAR</button>
        <a class="btn btn-outline-primary w-100 mt-2" href="{% url 'userauth:login' %}">Voltar</a>
      </form>
    </div>
  </div>

  <div class="auth-right"></div>
</div>
{% endblock %}
